doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Poppins', rel='stylesheet')
    link(rel="stylesheet" type="text/css" href="css/normalize.css")
    link(rel="stylesheet" href="css/zoom.css")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    title JF - Citations 

body
  header
    
    include components/nav.pug
    
    section(class="banner")
      div(class="banner-text")
        h1 IAT 339: Project 03
        p Portfolio
        div(class="glitch" data-text!="Citations") Citations
        
  div(class="content-wrapper")
    div(class="citations")
      h2(class="section-heading") Web Tricks &amp; Tips
      
      p Coyier, C. (2014). Glitch Effect on Text/Images/SVG. Retrived from 
        a(href="https://css-tricks.com/glitch-effect-text-images-svg/") https://css-tricks.com/glitch-effect-text-images-svg/
      p fat. (2015). Medium's Image Zoom for jQuery. Retrieved from 
        a(href="https://github.com/fat/zoom.js/") https://github.com/fat/zoom.js/
      p Jeffrey, J. (2015). Scrollspy. Retrieved from 
        a(href="https://github.com/r3plica/Scrollspy") https://github.com/r3plica/Scrollspy
      p Kunka, P. (2018). Mixitup 3. Retrieved from 
        a(href="https://www.kunkalabs.com/mixitup/") https://www.kunkalabs.com/mixitup/
      p lawnch. (2015). Mobile Friendly HTML 5 and CSS 3 Responsive Fixed Navigation Menu. Retrieved from 
        a(href="https://codepen.io/lawnch/details/QbKzRX/") https://codepen.io/lawnch/details/QbKzRX/
      p Lunn, I. (2017). Hover.css. Retrieved from 
        a(href="https://ianlunn.github.io/Hover/") https://ianlunn.github.io/Hover/
      p Surdakowski, J. (2012). Responsive Youtube Embed. Retrieved from 
        a(href="https://avexdesigns.com/responsive-youtube-embed/") https://avexdesigns.com/responsive-youtube-embed/
      p Tompkins, Eric. (2015). JQuery - Easy Sticky Nav Bar. Retrieved from 
        a(href="https://codepen.io/_codemics/details/PwEbYJ/") https://codepen.io/_codemics/details/PwEbYJ/
        
    div(class="citations")
      h2(class="section-heading") Special Thanks
      p Sarah Tong for her tips and company during the many all-nighters this project took.
      p Jonathan Lo for not losing his mind when answering my pitifully simple JS questions.
      p Elgin-Skye McLaren for her patience and understanding as I stumbled through three redesigns, two framework migrations, and just a whole lot of blunders. 
      p Andrew Hawryshkewich for his positive and upbeat attitude towards teaching SIAT klutzs like myself how to code.
      
