doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Poppins', rel='stylesheet')
    link(rel="stylesheet" type="text/css" href="css/normalize.css")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    title JF - UX/Business Strategist

  body
    header
      //- //NAVBAR
      include components/nav.pug

    section(class="banner")
      div(class="banner-text")
        h3 Hello! I'm Josh.
        p I'm an odd combination of a
        div(class="glitch" id="glitch-business" data-text!="UX&nbsp;Designer") UX&nbsp;Designer
        div(class="glitch" id="glitch-ux" data-text!="Business&nbsp;Strategist") Business&nbsp;Strategist
        
    section(class="projects-filter")
      h3 Projects
      div(class="button-container")
        button(class="filter-button hvr-underline-from-left" type="button" data-filter="all") All
        button(class="filter-button hvr-underline-from-left" type="button" data-filter=".cat-ux") User Experience
        button(class="filter-button hvr-underline-from-left" type="button" data-filter=".cat-mark") Marketing
        
    section(class="projects")
      
      div(class="mix cat-ux projects-container")
        a(href="via.html" class="hvr-bob")
          img(src="images/gallery/via.png" alt="")
        h3 VIA Journey
        p A digital solution designed to address VIA Rail's declining ridership, VIA Journey realigns VIA Rail's brand proposition through the concept that a journey is as valuable as the destination. 
        
      div(class="mix cat-mark projects-container")
        a(href="#" class="hvr-bob")
          img(src="images/gallery/intel-extreme-rig.png" alt="")
        h3 Intel Extreme Rig Challenge 2017
        p Collaborated with Intel™ and other industry vendor/partners to prepare and execute an integrated product marketing strategy, concluding with an exhibit at PAX East, an 80 000 attendee convention. 
          
      div(class="mix cat-ux projects-container")
        a(href="#" class="hvr-bob")
          img(src="images/gallery/toyota-guardian.png" alt="")
        h3 Toyota Guardian
        p A mobile application that leverages Toyota's existing products and brand equity to begin building trust and credibility in Toyota's future autonomous technologies.
        p Mentored by Chelsea Garber from ★ Inamoto &amp; Co.
        
      div(class="mix cat-mark projects-container")
        a(href="#" class="hvr-bob")
          img(src="images/gallery/market-research.png" alt="")
        h3 Market Research + Analysis
        p A North American-wide market research project, with competitor analysis and business recommendations that were a major contribution to a 30% annual sales growth.
        
    //- FOOTER
    include components/footer.pug
      

    script(src="js/jquery-3.3.1.js")
    script(src="js/mixitup.min.js")
    script(src="js/main.js")
    script(src="js/mixit_trigger.js")
