doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Poppins', rel='stylesheet')
    link(rel="stylesheet" type="text/css" href="css/main.css")
    title P03 Portfolio

  body
    header

      //LOGO 
      div(id="logo" class="menuUp")
        h1 Joshua Fan.
        div(id="navToggle")
          a(href="#") Menu

      //NAVBAR
      nav
        ul
          li
            a(href="#") UX/UI
          li 
            a(href="#") Marketing
          li
            a(href="#") About
          li
            a(href="#") Contact
            
      
    section(class="banner")
       div(class="banner-text")
         h2 Hello! I'm Josh
       
       div(class="glitch" id="glitch-business" data-text")
         
            
    script(src="js/jquery-3.3.1.js")
    script(src="js/main.js")
