$josh-color: #295ca4;

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: Poppins, Roboto, sans-serif;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 24px;
}

.navbar{
  background: beige;
}

.navbar-links{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navbar-links li:first-of-type{
  flex-basis: 50%;
  flex-shrink: 1;
  background: pink;
}

.navbar-links li{
  flex-basis: 5%;
}

@media (max-width: 500px) {
  .navbar, .navbar ul {
    flex-direction: column;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  border-bottom: 5px solid black;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.projects-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-text-item {
  flex: 0 1 50%;
  align-items: center;
  margin-right: 0.5rem;
  padding: 1rem;
}

.projects-text-image {
  flex: 0 1 50%;
  margin-left: 0.5rem;
  max-width: 100%;
}

//
// GLITCH EFFECT
.glitch{
  color: $josh-color;
  font-size: 32px;
  position:relative;
}

#glitch-business{
  display: none;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:$josh-color;
  background:white;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue;
  top:0;
  color:$josh-color;
  background:white;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

@media (min-width: 500px){
  .glitch{
    font-size: 5vw;
  }
}
