* {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  font-family: Poppins, Roboto, sans-serif;
  background-color: #fafafa;
  border: 1rem solid #295ca4; }

h1 {
  font-size: 4.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 2rem; }

p {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 300; }

li {
  font-weight: 300;
  font-family: Roboto, sans-serif; }

body:not(.long) div.long {
  display: none; }

body.long div.short {
  display: none; }

.navbar,
.navbar-links {
  background: transparent;
  margin-top: 0.5rem;
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  z-index: 10; }

.navbar-links {
  height: inherit;
  list-style: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

#logo {
  -ms-flex-preferred-size: 90rem;
  flex-basis: 90rem;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  text-decoration: none;
  color: #295ca4;
  font-weight: 600;
  font-size: 2rem;
  -ms-flex-item-align: center;
  align-self: center;
  padding-left: 2rem; }

.menu {
  max-width: 2rem;
  max-height: 2rem; }

.navbar-links li {
  -ms-flex-preferred-size: 8rem;
  flex-basis: 8rem;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.navbar-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  padding: 0.5rem; }

.navbar-links li:hover {
  text-decoration: underline; }

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden; }

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #295ca4;
  height: 4px;
  -webkit-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-left:active:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:hover:before {
  right: 0; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 80vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

#via_hero {
  background-image: url("../images/via_journey/via-poster.jpg");
  z-index: -99;
  border-bottom: none; }

.banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.banner-text h1 {
  font-size: 4rem;
  margin: 0; }

.banner-text p {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.toggle-button {
  display: none; }

.glitch {
  color: #295ca4;
  font-size: 5.5rem;
  position: relative; }

#glitch-business {
  display: none; }

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(28px, 9999px, 64px, 0); }
  8.33333% {
    clip: rect(85px, 9999px, 25px, 0); }
  16.66667% {
    clip: rect(27px, 9999px, 35px, 0); }
  25% {
    clip: rect(75px, 9999px, 75px, 0); }
  33.33333% {
    clip: rect(69px, 9999px, 86px, 0); }
  41.66667% {
    clip: rect(68px, 9999px, 100px, 0); }
  50% {
    clip: rect(87px, 9999px, 15px, 0); }
  58.33333% {
    clip: rect(42px, 9999px, 88px, 0); }
  66.66667% {
    clip: rect(12px, 9999px, 62px, 0); }
  75% {
    clip: rect(66px, 9999px, 98px, 0); }
  83.33333% {
    clip: rect(83px, 9999px, 96px, 0); }
  91.66667% {
    clip: rect(10px, 9999px, 78px, 0); }
  100% {
    clip: rect(90px, 9999px, 20px, 0); } }

@keyframes noise-anim {
  0% {
    clip: rect(28px, 9999px, 64px, 0); }
  8.33333% {
    clip: rect(85px, 9999px, 25px, 0); }
  16.66667% {
    clip: rect(27px, 9999px, 35px, 0); }
  25% {
    clip: rect(75px, 9999px, 75px, 0); }
  33.33333% {
    clip: rect(69px, 9999px, 86px, 0); }
  41.66667% {
    clip: rect(68px, 9999px, 100px, 0); }
  50% {
    clip: rect(87px, 9999px, 15px, 0); }
  58.33333% {
    clip: rect(42px, 9999px, 88px, 0); }
  66.66667% {
    clip: rect(12px, 9999px, 62px, 0); }
  75% {
    clip: rect(66px, 9999px, 98px, 0); }
  83.33333% {
    clip: rect(83px, 9999px, 96px, 0); }
  91.66667% {
    clip: rect(10px, 9999px, 78px, 0); }
  100% {
    clip: rect(90px, 9999px, 20px, 0); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #295ca4;
  background: #fafafa;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(11px, 9999px, 21px, 0); }
  8.33333% {
    clip: rect(56px, 9999px, 48px, 0); }
  16.66667% {
    clip: rect(14px, 9999px, 62px, 0); }
  25% {
    clip: rect(41px, 9999px, 60px, 0); }
  33.33333% {
    clip: rect(4px, 9999px, 53px, 0); }
  41.66667% {
    clip: rect(21px, 9999px, 60px, 0); }
  50% {
    clip: rect(13px, 9999px, 47px, 0); }
  58.33333% {
    clip: rect(86px, 9999px, 40px, 0); }
  66.66667% {
    clip: rect(71px, 9999px, 99px, 0); }
  75% {
    clip: rect(57px, 9999px, 43px, 0); }
  83.33333% {
    clip: rect(64px, 9999px, 44px, 0); }
  91.66667% {
    clip: rect(90px, 9999px, 82px, 0); }
  100% {
    clip: rect(70px, 9999px, 71px, 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(11px, 9999px, 21px, 0); }
  8.33333% {
    clip: rect(56px, 9999px, 48px, 0); }
  16.66667% {
    clip: rect(14px, 9999px, 62px, 0); }
  25% {
    clip: rect(41px, 9999px, 60px, 0); }
  33.33333% {
    clip: rect(4px, 9999px, 53px, 0); }
  41.66667% {
    clip: rect(21px, 9999px, 60px, 0); }
  50% {
    clip: rect(13px, 9999px, 47px, 0); }
  58.33333% {
    clip: rect(86px, 9999px, 40px, 0); }
  66.66667% {
    clip: rect(71px, 9999px, 99px, 0); }
  75% {
    clip: rect(57px, 9999px, 43px, 0); }
  83.33333% {
    clip: rect(64px, 9999px, 44px, 0); }
  91.66667% {
    clip: rect(90px, 9999px, 82px, 0); }
  100% {
    clip: rect(70px, 9999px, 71px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #295ca4;
  background: #fafafa;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

.filter-button {
  background-color: transparent;
  border: none;
  padding: 0.75rem;
  margin-right: 0.5rem; }

.projects-filter {
  margin-top: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.button-container {
  margin-top: 2rem; }

.button-container button:nth-child(even) {
  margin-left: 1rem;
  margin-right: 1rem; }

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  padding-bottom: 0; }

.hvr-bob:active,
.hvr-bob:focus,
.hvr-bob:hover {
  -webkit-box-shadow: 10px 14px 15px -4px rgba(0, 0, 0, 0.53);
  box-shadow: 10px 14px 15px -4px rgba(0, 0, 0, 0.53);
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-out-horizontal:active,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:hover {
  color: white; }

.hvr-shutter-out-horizontal:active:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.videoBanner {
  margin: 2rem 15%; }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 1rem;
  padding-left: 10%;
  padding-right: 10%; }

.projects-container:nth-child(odd) {
  margin-left: 8%;
  -webkit-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease; }

.projects-container:nth-child(even) {
  margin-right: 8%;
  -webkit-transition: margin-right 0.5s ease;
  -o-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease; }

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 3rem 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: auto; }

.projects-container a {
  width: 100%;
  margin-bottom: 1rem; }

.projects-content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 60%;
  margin: 2rem; }

.projects img {
  width: 100%;
  height: auto; }

.projects h3 {
  font-size: 2rem; }

.projects p {
  margin-top: 1rem;
  font-size: 1.25rem; }

.content-wrapper {
  margin: 0 15%; }

.content-wrapper h1 {
  font-size: 2.5rem; }

.content-wrapper h2 {
  font-size: 2rem;
  text-align: center; }

.content-wrapper h3 {
  font-size: 1.75rem;
  font-style: italic; }

.content-wrapper p, ol {
  font-size: 1.25rem;
  margin-left: 10rem;
  margin-right: 10rem; }

.content-wrapper p {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.content-wrapper li {
  font-size: 1.25rem; }

.content-wrapper a {
  text-decoration: none;
  color: black; }

.content-wrapper a:hover {
  text-decoration: underline; }

.section-heading {
  color: #295ca4;
  text-decoration: underline;
  margin-top: 10rem; }

.projects-filter .section-heading {
  margin-top: 1%; }

.stickynav {
  margin-top: 3rem;
  width: 100%;
  height: 5rem;
  background-color: #295ca4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.content-toggle {
  position: absolute;
  right: 5%;
  height: inherit;
  margin-top: 1.15rem; }

.stickynav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.stickynav li:first-of-type {
  margin-left: 0; }

.stickynav li {
  list-style: none;
  margin-left: 3rem; }

.stickynav a {
  text-decoration: none;
  color: white; }

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  border-top: 0;
  margin-top: 0; }

.flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem; }

.flex-content img {
  width: 100%;
  height: auto; }

.brand.flex-content,
.framework.flex-content,
.journey.flex-content,
.persona.flex-content,
.problem.flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.intro ul {
  padding-left: 2rem; }

.intro li {
  padding-top: 1rem; }

.intro p {
  margin-top: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0; }

.problem ol {
  padding-top: 1rem;
  padding-left: 2rem; }

.brand ol {
  padding-top: 1rem;
  padding-left: 2rem; }

.brand li {
  padding-top: 1rem; }

.intro .left {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  padding-right: 10%; }

.intro .right {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }

.full {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

.problem .left,
.problem .right {
  margin-top: 1rem;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.full ol {
  padding-top: 1rem;
  padding-left: 2rem; }

.full img {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.problem .right {
  -ms-flex-item-align: center;
  align-self: center; }

.problem .right p {
  margin-left: 2rem;
  margin-right: 0; }

.brand .left,
.brand .right {
  margin-top: 1rem;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.brand p {
  margin-top: 2rem;
  margin-bottom: 0; }

.brand ol {
  margin-bottom: 2rem; }

.brand .right img {
  margin-left: 2%; }

.brand .left img {
  margin-right: 2%; }

.persona .left,
.persona .right {
  margin-top: 1rem;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.persona .right img {
  margin-left: 2%; }

.persona .left img {
  margin-left: 2%; }

.journey .left,
.journey .right {
  margin-top: 1rem;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.journey .right img {
  margin-left: 2%; }

.journey .left img {
  margin-left: 2%; }

.framework .left,
.framework .right {
  margin-top: 1rem;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.framework .right img {
  margin-left: 2%; }

.framework .left img {
  margin-left: 2%; }

.toyota .left {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%; }

.toyota .right {
  -ms-flex-item-align: center;
  align-self: center; }

.toyota h3 {
  margin-left: 2rem; }

.toyota p {
  margin-left: 2rem; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.videoWrapper embed,
.videoWrapper iframe,
.videoWrapper object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem; }

.footer p {
  font-size: 0.8rem;
  margin-top: 1rem; }

@media (max-width: 2100px) {
  .projects {
    padding-left: 6%;
    padding-right: 6%; } }

@media (min-width: 2000px) {
  .content-wrapper {
    margin: 0 25%; }
  .videoBanner {
    margin: 5rem 25%; } }

@media (max-width: 1875px) {
  .projects {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 1800px) {
  .projects-container:nth-child(odd) {
    margin-left: 5%; }
  .projects-container:nth-child(even) {
    margin-right: 5%; } }

@media (max-width: 1600px) {
  .content-wrapper {
    margin: 0 5%; }
  .videoBanner {
    margin: 2rem 5%; }
  .section-heading {
    margin-top: 3rem; } }

@media (max-width: 1200px) {
  .stickynav {
    height: 10rem; }
  .stickynav ul {
    margin-top: 2rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .content-toggle {
    right: 0;
    width: inherit;
    text-align: center;
    bottom: 20%;
    height: auto; } }

@media (max-width: 1000px) {
  .banner {
    height: 60vh; }
  .banner-text h3 {
    font-size: 2.25rem; }
  .banner-text p {
    font-size: 1.25rem; }
  .glitch {
    font-size: 8vw; }
  #logo {
    text-align: center; }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 1rem; }
  .navbar-links {
    display: none; }
  .navbar-links.open {
    display: block;
    position: absolute;
    top: 5rem;
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #f7f7f7;
    border-bottom: 1px black solid; }
  .navbar-links li {
    padding: 0.5rem; }
  .projects-container {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .projects-container:nth-child(odd) {
    margin-left: 0; }
  .projects-container:nth-child(even) {
    margin-right: 0; }
  .intro.flex-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .intro .left {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .intro .right {
    margin-top: 2rem;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .content-wrapper p {
    margin-left: 3rem;
    margin-right: 3rem; }
  .intro p {
    margin-left: 0;
    margin-right: 0; }
  .content-wrapper p, ol {
    margin-left: 0;
    margin-right: 0; }
  .stickynav li {
    margin-left: 1rem; } }

@media (max-width: 600px) {
  .banner {
    height: 30vh; }
  .banner h1 {
    font-size: 2.5rem; }
  .flex-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .content-wrapper p {
    margin-left: 0;
    margin-right: 0; }
  .intro.flex-content {
    margin-top: 2rem; }
  .problem .right p {
    margin-left: 0; }
  .intro p {
    margin-left: 0;
    margin-right: 0; }
  .problem.flex-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 350px) {
  .navbar,
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }
