* {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  font-family: Poppins, Roboto, sans-serif; }

h1 {
  font-size: 75px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 30px; }

p {
  font-size: 24px; }

.navbar {
  background: beige; }

.navbar-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.navbar-links li:first-of-type {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  background: pink; }

.navbar-links li {
  -ms-flex-preferred-size: 5%;
  flex-basis: 5%; }

@media (max-width: 500px) {
  .navbar, .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  border-bottom: 5px solid black; }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.projects-text-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.5rem;
  padding: 1rem; }

.projects-text-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  margin-left: 0.5rem;
  max-width: 100%; }

.glitch {
  color: #295ca4;
  font-size: 32px;
  position: relative; }

#glitch-business {
  display: none; }

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(57px, 9999px, 7px, 0); }
  5% {
    clip: rect(20px, 9999px, 73px, 0); }
  10% {
    clip: rect(51px, 9999px, 51px, 0); }
  15% {
    clip: rect(48px, 9999px, 5px, 0); }
  20% {
    clip: rect(96px, 9999px, 77px, 0); }
  25% {
    clip: rect(76px, 9999px, 61px, 0); }
  30% {
    clip: rect(18px, 9999px, 67px, 0); }
  35% {
    clip: rect(34px, 9999px, 77px, 0); }
  40% {
    clip: rect(72px, 9999px, 79px, 0); }
  45% {
    clip: rect(85px, 9999px, 81px, 0); }
  50% {
    clip: rect(62px, 9999px, 28px, 0); }
  55% {
    clip: rect(82px, 9999px, 93px, 0); }
  60% {
    clip: rect(66px, 9999px, 34px, 0); }
  65% {
    clip: rect(53px, 9999px, 91px, 0); }
  70% {
    clip: rect(17px, 9999px, 10px, 0); }
  75% {
    clip: rect(37px, 9999px, 75px, 0); }
  80% {
    clip: rect(67px, 9999px, 11px, 0); }
  85% {
    clip: rect(70px, 9999px, 14px, 0); }
  90% {
    clip: rect(95px, 9999px, 3px, 0); }
  95% {
    clip: rect(22px, 9999px, 49px, 0); }
  100% {
    clip: rect(96px, 9999px, 35px, 0); } }

@keyframes noise-anim {
  0% {
    clip: rect(57px, 9999px, 7px, 0); }
  5% {
    clip: rect(20px, 9999px, 73px, 0); }
  10% {
    clip: rect(51px, 9999px, 51px, 0); }
  15% {
    clip: rect(48px, 9999px, 5px, 0); }
  20% {
    clip: rect(96px, 9999px, 77px, 0); }
  25% {
    clip: rect(76px, 9999px, 61px, 0); }
  30% {
    clip: rect(18px, 9999px, 67px, 0); }
  35% {
    clip: rect(34px, 9999px, 77px, 0); }
  40% {
    clip: rect(72px, 9999px, 79px, 0); }
  45% {
    clip: rect(85px, 9999px, 81px, 0); }
  50% {
    clip: rect(62px, 9999px, 28px, 0); }
  55% {
    clip: rect(82px, 9999px, 93px, 0); }
  60% {
    clip: rect(66px, 9999px, 34px, 0); }
  65% {
    clip: rect(53px, 9999px, 91px, 0); }
  70% {
    clip: rect(17px, 9999px, 10px, 0); }
  75% {
    clip: rect(37px, 9999px, 75px, 0); }
  80% {
    clip: rect(67px, 9999px, 11px, 0); }
  85% {
    clip: rect(70px, 9999px, 14px, 0); }
  90% {
    clip: rect(95px, 9999px, 3px, 0); }
  95% {
    clip: rect(22px, 9999px, 49px, 0); }
  100% {
    clip: rect(96px, 9999px, 35px, 0); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #295ca4;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(96px, 9999px, 91px, 0); }
  5% {
    clip: rect(17px, 9999px, 65px, 0); }
  10% {
    clip: rect(84px, 9999px, 66px, 0); }
  15% {
    clip: rect(50px, 9999px, 63px, 0); }
  20% {
    clip: rect(53px, 9999px, 27px, 0); }
  25% {
    clip: rect(52px, 9999px, 67px, 0); }
  30% {
    clip: rect(43px, 9999px, 66px, 0); }
  35% {
    clip: rect(94px, 9999px, 10px, 0); }
  40% {
    clip: rect(86px, 9999px, 12px, 0); }
  45% {
    clip: rect(39px, 9999px, 12px, 0); }
  50% {
    clip: rect(85px, 9999px, 70px, 0); }
  55% {
    clip: rect(72px, 9999px, 81px, 0); }
  60% {
    clip: rect(56px, 9999px, 74px, 0); }
  65% {
    clip: rect(73px, 9999px, 64px, 0); }
  70% {
    clip: rect(68px, 9999px, 55px, 0); }
  75% {
    clip: rect(60px, 9999px, 22px, 0); }
  80% {
    clip: rect(43px, 9999px, 19px, 0); }
  85% {
    clip: rect(76px, 9999px, 89px, 0); }
  90% {
    clip: rect(95px, 9999px, 63px, 0); }
  95% {
    clip: rect(18px, 9999px, 56px, 0); }
  100% {
    clip: rect(30px, 9999px, 78px, 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(96px, 9999px, 91px, 0); }
  5% {
    clip: rect(17px, 9999px, 65px, 0); }
  10% {
    clip: rect(84px, 9999px, 66px, 0); }
  15% {
    clip: rect(50px, 9999px, 63px, 0); }
  20% {
    clip: rect(53px, 9999px, 27px, 0); }
  25% {
    clip: rect(52px, 9999px, 67px, 0); }
  30% {
    clip: rect(43px, 9999px, 66px, 0); }
  35% {
    clip: rect(94px, 9999px, 10px, 0); }
  40% {
    clip: rect(86px, 9999px, 12px, 0); }
  45% {
    clip: rect(39px, 9999px, 12px, 0); }
  50% {
    clip: rect(85px, 9999px, 70px, 0); }
  55% {
    clip: rect(72px, 9999px, 81px, 0); }
  60% {
    clip: rect(56px, 9999px, 74px, 0); }
  65% {
    clip: rect(73px, 9999px, 64px, 0); }
  70% {
    clip: rect(68px, 9999px, 55px, 0); }
  75% {
    clip: rect(60px, 9999px, 22px, 0); }
  80% {
    clip: rect(43px, 9999px, 19px, 0); }
  85% {
    clip: rect(76px, 9999px, 89px, 0); }
  90% {
    clip: rect(95px, 9999px, 63px, 0); }
  95% {
    clip: rect(18px, 9999px, 56px, 0); }
  100% {
    clip: rect(30px, 9999px, 78px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #295ca4;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

@media (min-width: 500px) {
  .glitch {
    font-size: 5vw; } }
