* {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  font-family: Poppins, Roboto, sans-serif; }

h1 {
  font-size: 75px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 30px; }

p {
  font-size: 24px; }

.navbar,
.navbar-links {
  background: white;
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.navbar-links {
  height: inherit;
  list-style: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

#logo {
  -ms-flex-preferred-size: 90rem;
  flex-basis: 90rem;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  text-decoration: none;
  color: #295ca4;
  font-weight: 600;
  font-size: 2rem;
  -ms-flex-item-align: center;
  align-self: center;
  padding-left: 2rem; }

.menu {
  max-width: 2rem;
  max-height: 2rem; }

.navbar-links li {
  -ms-flex-preferred-size: 8rem;
  flex-basis: 8rem;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.navbar-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600; }

.navbar-links li:hover {
  text-decoration: underline; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.toggle-button {
  display: none; }

.glitch {
  color: #295ca4;
  font-size: 75px;
  position: relative; }

#glitch-business {
  display: none; }

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(63px, 9999px, 62px, 0); }
  8.33333% {
    clip: rect(46px, 9999px, 77px, 0); }
  16.66667% {
    clip: rect(78px, 9999px, 80px, 0); }
  25% {
    clip: rect(90px, 9999px, 35px, 0); }
  33.33333% {
    clip: rect(64px, 9999px, 66px, 0); }
  41.66667% {
    clip: rect(20px, 9999px, 33px, 0); }
  50% {
    clip: rect(17px, 9999px, 12px, 0); }
  58.33333% {
    clip: rect(15px, 9999px, 91px, 0); }
  66.66667% {
    clip: rect(98px, 9999px, 59px, 0); }
  75% {
    clip: rect(22px, 9999px, 48px, 0); }
  83.33333% {
    clip: rect(62px, 9999px, 5px, 0); }
  91.66667% {
    clip: rect(85px, 9999px, 58px, 0); }
  100% {
    clip: rect(8px, 9999px, 42px, 0); } }

@keyframes noise-anim {
  0% {
    clip: rect(63px, 9999px, 62px, 0); }
  8.33333% {
    clip: rect(46px, 9999px, 77px, 0); }
  16.66667% {
    clip: rect(78px, 9999px, 80px, 0); }
  25% {
    clip: rect(90px, 9999px, 35px, 0); }
  33.33333% {
    clip: rect(64px, 9999px, 66px, 0); }
  41.66667% {
    clip: rect(20px, 9999px, 33px, 0); }
  50% {
    clip: rect(17px, 9999px, 12px, 0); }
  58.33333% {
    clip: rect(15px, 9999px, 91px, 0); }
  66.66667% {
    clip: rect(98px, 9999px, 59px, 0); }
  75% {
    clip: rect(22px, 9999px, 48px, 0); }
  83.33333% {
    clip: rect(62px, 9999px, 5px, 0); }
  91.66667% {
    clip: rect(85px, 9999px, 58px, 0); }
  100% {
    clip: rect(8px, 9999px, 42px, 0); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #295ca4;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(29px, 9999px, 36px, 0); }
  8.33333% {
    clip: rect(95px, 9999px, 53px, 0); }
  16.66667% {
    clip: rect(70px, 9999px, 47px, 0); }
  25% {
    clip: rect(95px, 9999px, 71px, 0); }
  33.33333% {
    clip: rect(26px, 9999px, 19px, 0); }
  41.66667% {
    clip: rect(73px, 9999px, 19px, 0); }
  50% {
    clip: rect(8px, 9999px, 78px, 0); }
  58.33333% {
    clip: rect(9px, 9999px, 76px, 0); }
  66.66667% {
    clip: rect(98px, 9999px, 47px, 0); }
  75% {
    clip: rect(16px, 9999px, 88px, 0); }
  83.33333% {
    clip: rect(88px, 9999px, 11px, 0); }
  91.66667% {
    clip: rect(45px, 9999px, 79px, 0); }
  100% {
    clip: rect(88px, 9999px, 100px, 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(29px, 9999px, 36px, 0); }
  8.33333% {
    clip: rect(95px, 9999px, 53px, 0); }
  16.66667% {
    clip: rect(70px, 9999px, 47px, 0); }
  25% {
    clip: rect(95px, 9999px, 71px, 0); }
  33.33333% {
    clip: rect(26px, 9999px, 19px, 0); }
  41.66667% {
    clip: rect(73px, 9999px, 19px, 0); }
  50% {
    clip: rect(8px, 9999px, 78px, 0); }
  58.33333% {
    clip: rect(9px, 9999px, 76px, 0); }
  66.66667% {
    clip: rect(98px, 9999px, 47px, 0); }
  75% {
    clip: rect(16px, 9999px, 88px, 0); }
  83.33333% {
    clip: rect(88px, 9999px, 11px, 0); }
  91.66667% {
    clip: rect(45px, 9999px, 79px, 0); }
  100% {
    clip: rect(88px, 9999px, 100px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #295ca4;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

.projects-filter {
  margin-top: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.button-container {
  margin-top: 2rem; }

.button-container button:nth-child(even) {
  margin-left: 1rem;
  margin-right: 1rem; }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 10%;
  padding-right: 10%; }

.projects-container:nth-child(odd) {
  margin-left: 8%;
  -webkit-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease; }

.projects-container:nth-child(even) {
  margin-right: 8%;
  -webkit-transition: margin-right 0.5s ease;
  -o-transition: margin-right 0.5s ease;
  transition: margin-right 0.5s ease; }

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 3rem 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: auto; }

.projects-container a {
  width: 100%;
  margin-bottom: 1rem; }

.projects-content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 60%;
  margin: 2rem; }

.projects img {
  width: 100%;
  height: auto; }

.projects h3 {
  font-size: 32px; }

.projects p {
  margin-top: 1rem;
  font-size: 18px; }

@media (max-width: 2100px) {
  .projects {
    padding-left: 6%;
    padding-right: 6%; } }

@media (max-width: 1875px) {
  .projects {
    padding-left: 0%;
    padding-right: 0%; } }

@media (max-width: 1800px) {
  .projects-container:nth-child(odd) {
    margin-left: 5%; }
  .projects-container:nth-child(even) {
    margin-right: 5%; } }

@media (max-width: 1000px) {
  .banner {
    height: 60vh; }
  .banner-text h3 {
    font-size: 24px; }
  .banner-text p {
    font-size: 18px; }
  .glitch {
    font-size: 8vw; }
  #logo {
    text-align: center; }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center; }
  .navbar-links {
    display: none; }
  .navbar-links.open {
    display: block;
    position: absolute;
    top: 5rem;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .navbar-links li {
    padding: 0.5rem; }
  .projects-container {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .projects-container:nth-child(odd) {
    margin-left: 0; }
  .projects-container:nth-child(even) {
    margin-right: 0; } }

@media (max-width: 600px) {
  .banner {
    height: 40vh; } }

@media (max-width: 350px) {
  .navbar,
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }
