//- //NAVBAR
nav(class="navbar")
  a(href="index.html" id="logo") joshua fan.
  a(class="toggle-button")
    img(src="images/icons/menu.png" class="menu")
  ul(class="navbar-links")
    //- li
    //-   a(href="#" class="hvr-underline-from-left ") About
    li 
      a(href="https://www.dropbox.com/s/aa68u3q7uf61x5o/josh_resume_02.pdf?dl=0" class="hvr-underline-from-left ") Resume
    li
      a(href="https://www.linkedin.com/in/tjfan/" class="hvr-underline-from-left ") LinkedIn
